.img-status {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    border: 1px solid black;
}
.container {
    width: 100vw;
    height: 100vh;
}
.box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $primary;
    
}
.item {
	flex: 1;
    font-size: 1.5em;
}
.presentation-text {
    flex: 1;
    color: $primary;
    font-size: 1.5em;
    flex-direction: column;
}
.footer {
    color: $secondary;
}
